$padding-inline: 2rem;
$content-max-width: 70ch;
$breakout-max-width: 85ch;
$breakout-size: calc(($breakout-max-width - $content-max-width) / 2);

// This will set up named areas full-width, breakout, and content that can be applied easily to any item
.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax($padding-inline, 1fr)
    [breakout-start] minmax(0, $breakout-size)
    [content-start] min(100% - $padding-inline * 2, $content-max-width) [content-end]
    minmax(0, $breakout-size) [breakout-end] 
    minmax($padding-inline, 1fr) [full-width-end];

  // Nesting grid column rules inside .content-grid
  > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }

  > .breakout {
    grid-column: breakout;
  }

  > .full-width {
    grid-column: full-width;
  }
}


#hangman {
  display: flex;
  flex-direction: row;
}

#map {
  flex-basis: 80%;
}
