#news-container {
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.ticker {
	width: 100%;
	min-width: 0;
	flex-grow: 1;
	height: 2rem;
	font-size: 1rem; 
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.ticker__inner {
	display: flex;
	gap: 1em;
	flex-wrap: nowrap;
	justify-content: space-between;
	white-space: nowrap;
	align-items: center;
	font-size: .8em;
}
.breaking-svg {
    width: clamp(4rem, 10vw, 6rem);
    height: auto;
}

.story-list {
	margin: 0;
	padding-inline: 0;
	list-style: none;
	text-align: center;
}	

.story-list li {
	padding-inline: 1rem;

}	


/* animation stuff (disabled by js if user has prefers-reduced-motion) */
.ticker[data-animated="true"] {
	overflow: hidden;
	/* fade the text out as it comes close to the shape - note colour used doesnt matter as its a mask*/ 
	-webkit-mask: linear-gradient(90deg, transparent, white 5%);
	mask: linear-gradient(90deg, transparent, white 5%);
	
}


.ticker[data-animated="true"] .ticker__inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-duration, 40s) 
		var(--_animation-direction, forwards) linear infinite;
}


/* some additional controls if for whatever reason we want to change direction or speed */
.ticker[data-direction="right"] {
	--_animation-direction: reverse;
}

.ticker[data-direction="left"] {
	--_animation-direction: forwards;
}


.ticker[data-speed="fast"]{
	--_animation-duration: 15ms;
}

.ticker[data-speed="slow"]{
	--_animation-duration: 40ms;

}


@keyframes scroll {
to { 
	transform: translateX(calc(-50% - 0.5rem));
}
}
/* Responsive Adjustments 
@media (max-width: 768px) {
	.breaking {
		width: 5em;
		height: 2.5em;
		line-height: 2.5em;
		font-size: 1em;
	}

	.breaking:before {
		border-top: 2.5em solid #e60505;
		border-right: 1.2em solid transparent;
	}

	.ticker {
		height: 2.5em;
		padding-top: 0.75em;
	}

	.ticker__inner {
		font-size: 1em;
	}
}

@media (max-width: 480px) {
    #news-container .breaking { 
        width: 4rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.9rem;
    }

	.breaking:before {
		border-top: 2em solid #e60505;
		border-right: 1em solid transparent;
	}

	.ticker {
		height: 2em;
		padding-top: 0.5em;
	}

	.ticker__inner {
		font-size: 0.9em;
	}
}
*/
