
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-inline: 2rem;
}

/* Dashboard Formatting */

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 80%;
    margin-bottom: 3rem;
}

.dashboard__article {
    border: 3px solid var(--bg-color5);
    border-radius: 2rem;
    min-width: 300px;
    max-width: 600px;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color1);
    margin-bottom: 2rem;

}

.dashboard__article.full-width {
    width: auto;
    max-width: 100%;
    grid-column: span 2;
}



.dashboard__full-width {
    grid-column: span 2;
    text-align: center;
}
  



