.accordion-header {
  color: var(--text-color3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  padding-block: .5em;
  position: relative;
  border: 1px solid var(--bg-color4);
  cursor: pointer;

  @media screen and (max-width: 525px) {
    padding-inline: .25em;
  }
}

#show, #hide {  
  font-size: .8em;
  @media screen and (max-width: 525px) {
    font-size: .6em;
  }
}

.toggle-wrapper {
  position: relative;
  width: 4em;
  height: 1em;
}

.toggle-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}


