@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

.letter-list {
  @include flex-center;
  gap: 10px;
}

.letter {
  border-bottom: solid 1px black;
  min-width: 1rem;
  width: 2rem;
  content-visibility: hidden;
  margin-top: 1rem;
}

.guessed {
  border-bottom: hidden;
  content-visibility: auto;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-.5rem);
  margin-top: 0;
}

#hint {
  @include flex-center;
  text-align: center;
}

#start-game {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
}

#start {
  padding-block: 0.5rem;
}

.btn {
  width: 1.5rem;
  margin-block: .25rem;
}
