/* Variables */
:root {
    --default-hue: 42;
    --default-saturation: 100%;
    --default-darkness: 50%;

    /* colours for a light scheme */
    --light-bg1: hsl(var(--default-hue), 25%, 90%);
    --light-bg2: hsl(var(--default-hue), 20%, 99%);
    --light-bg3: hsl(var(--default-hue), 20%, 92%);
    --light-bg4: hsl(var(--default-hue), 20%, 85%);

    --light-text1: hsl(var(--default-hue), var(--default-saturation), 10%);
    --light-text2: hsl(var(--default-hue), 85%, 25%);
    --light-text3: hsl(var(--default-hue), 10%, 80%);
    
    /* colours for a dark scheme */
    --dark-bg1: hsl(var(--default-hue), 10%, 10%);
    --dark-bg2: hsl(var(--default-hue), 10%, 15%);
    --dark-bg3: hsl(var(--default-hue), 5%, 20%);
    --dark-bg4: hsl(var(--default-hue), 5%, 25%);

    --dark-text1: hsl(var(--default-hue), 15%, 85%);
    --dark-text2: hsl(var(--default-hue), 5%, 65%);
    --dark-text3: hsl(var(--default-hue), 5%, 15%);
    
    /* Set the default colour scheme to light (media query switches to dark) */
    color-scheme: light;
   
    --bg-color1: var(--light-bg1);
    --bg-color2: var(--light-bg2);
    --bg-color3: var(--light-bg3);
    --bg-color4: var(--light-bg4);
    --bg-color5: var(--dark-bg4);
    --text-color1: var(--light-text1);
    --text-color2: var(--light-text2);
    --text-color3: var(--light-text3);
    
    /* Wave images */
    --wave1-url: url(../imgs/wave1.svg);
    --wave2-url: url(../imgs/wave2.svg);
}

@media (prefers-color-scheme: dark) {
:root {
color-scheme: dark;

--bg-color1: var(--dark-bg1);
--bg-color2: var(--dark-bg2);
--bg-color3: var(--dark-bg3);
--bg-color4: var(--dark-bg4);
--bg-color5: var(--light-bg1);
--text-color1: var(--dark-text1);
--text-color2: var(--dark-text2);
--text-color3: var(--dark-text3);
--wave1-url: url(../imgs/wave1-dark.svg);
--wave2-url: url(../imgs/wave2-dark.svg);
}
}



/* Force Light Mode */
.force-light {
    color-scheme: light !important;
    --bg-color1: var(--light-bg1);
    --bg-color2: var(--light-bg2);
    --bg-color3: var(--light-bg3);
    --bg-color4: var(--light-bg4);
    --bg-color5: var(--dark-bg4);
    --text-color1: var(--light-text1);
    --text-color2: var(--light-text2);
    --text-color3: var(--light-text3);
}

/* Force Dark Mode */
.force-dark {
    color-scheme: dark !important;
    --bg-color1: var(--dark-bg1);
    --bg-color2: var(--dark-bg2);
    --bg-color3: var(--dark-bg3);
    --bg-color4: var(--dark-bg4);
    --bg-color5: var(--light-bg1);
    --text-color1: var(--dark-text1);
    --text-color2: var(--dark-text2);
    --text-color3: var(--dark-text3);
}
