/* News Ticker */

$breakingColour = #e60505

#news-container {
	display: flex;
	flex-direction: row;
}

/* Trapezoid Shape */
.breaking {
	background-color: $breakingColour;
	text-align: center;
	width: 6rem;
	height: 3rem;
	line-height: 3rem;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
}

.breaking:before {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 3rem solid $breakingColour;
	border-right: 1.5rem solid transparent;
	position:absolute;
	left: 100%;
	bottom: 0px;
	z-index: 100;
}



.story-list {
	margin: 0;
	padding-inline: 0;
	list-style: none;
	text-align: center;
}	

.story-list li {
	padding-inline: 1rem;

}	

.ticker {
	max-width: 600px;
	height: 3rem;
	padding-top: 1rem;
}


.ticker__inner {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

/* animation stuff (disabled by js if user has prefers-reduced-motion) */
.ticker[data-animated="true"] {
	overflow: hidden;
	/* fade the text out as it comes close to the shape - note colour used doesnt matter as its a mask*/ 
	-webkit-mask: linear-gradient(90deg, transparent, white 5%);
	mask: linear-gradient(90deg, transparent, white 5%);
	
}


.ticker[data-animated="true"] .ticker__inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-duration, 40s) 
		var(--_animation-direction, forwards) linear infinite;
}


/* some additional controls if for whatever reason we want to change direction or speed */
.ticker[data-direction="right"] {
	--_animation-direction: reverse;
}

.ticker[data-direction="left"] {
	--_animation-direction: forwards;
}


.ticker[data-speed="fast"]{
	--_animation-duration: 15ms;
}

.ticker[data-speed="slow"]{
	--_animation-duration: 40ms;

}


@keyframes scroll {
to { 
	transform: translateX(calc(-50% - 0.5rem));
}
}
