img {
	max-width: 100%; /* don't grow oversize */
	height: auto; /* keep aspect ratio */
	vertical-align: middle; /* note this will throw off image alignment if it is inside text */
	
	font-style: italic; /* incase it doesn't load properly alt text will be italic */

	/* enable this if you want to have a slow connection lowres image which loads first 
	background-repeat: no-repeat;
	background-size: cover;
	*/

	shape-margin: 1rem; /* incase you are floating an image with a shape-outside */
}
