
.main-container {
    margin: 3rem;
}

.left-split-container {
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 3rem;
}

.no-split-container {
    padding: 1rem 3rem;
}


/* Media queries */
@media screen and (min-width: 415px) and (max-width: 645px) {
    header, #nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__logo {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    #nav-list a {
        width: 175px;
    }

    .dashboard {
        display: flex;
        flex-direction: column;

    }

    .wave1 {
        visibility: hidden;
    }

    .wave2 {
        visibility: hidden;
    }
}


@media screen and (max-width: 645px) {
    header, .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .header {
        padding: 0.5rem 1rem;
        justify-content:center;
    }

    .header__logo {
        margin-right: 0;
    }

    #nav-list a {
        width: 175px;
    }

    main {
        margin-top: 25px;
    }

    section {
        padding-top: 40px;
        padding-inline: 1rem;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: auto;
        max-width: 100%;
    }

    .dashboard > * {
        flex:1;
    }
    .dashboard__article {
        min-width: 200px;
    }

    .wave1 {
        visibility: hidden;
    }

    .wave2 {
        visibility: hidden;
    }
}

@media screen and (max-width: 415px) {
    .dashboard__article {
        max-width: 280px;
    }
    
  
}




